
@{
    ViewBag.Title = "UploadFile";
}

<div class="container">
    <center><h2>Upload File</h2></center>

    <div>
        @using (Html.BeginForm("UploadFile", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <input style="padding-bottom:2px" type="file" name="File" />
            <input type="submit" name="Upload" />
        }
    </div>
    <div class="row" style="padding-top:30px;">
        <div class="col-md-12">

            <ul class="list-group" ; padding-top:20px;">
                @foreach (var item in Model)
                {
                    <li class="list-group-item style=" display:block;">
                        <span id="myFile">@item</span>
                        <ul style="display:inline;">
                            <li class="dropdown">
                                <button class="btn btn-sm dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">

                                    <span class="glyphicon glyphicon-wrench"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                    <li id="@item" role="presentation"><a role="menuitem" tabindex="-1" id="myFile" href="@item">Download <span class="glyphicon glyphicon-download"></span></a></li>
                                    <li id="@item" role="presentation"><a role="menuitem" tabindex="-1" href="#" onclick="deleteFile('@item');">Delete <span class="glyphicon glyphicon-remove"></span></a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                }
            </ul>
        </div>

        <script>
            function deleteFile(item) {
                var url = "/Home/DeleteFile";
                $.post(url, { name: item }, function (data) {
                    window.location.href = "/Home/UploadFile";
                });
            }

            function GetFile(file) {
                var url = file;

                $("#myFile").attr("href", url);
            }
        </script>

